{% extends 'base.html' %}

<!-- <html> -->
    <!-- <head> -->
        <!-- <Title>-->    

            {% block title_pag %} 
            Home
            {% endblock title_pag %}  

        <!-- </Title> -->
   <!--  </head> -->
    <!-- <body> -->
        <!-- <div id="middle_pag"> -->
            <!-- <div id="title_conteudo"> -->

                {% block title_conteudo %}
                Instrodução
                {% endblock title_conteudo %}

            <!-- </div> -->
            <!-- <div id="conteudo"> -->
                <!-- <article> -->

                    {% block article_middle %} 
                    Seja bem vindo 
                    {% endblock article_middle %}

                <!-- </article> -->
            <!-- </div> -->
            <!-- <aside> -->
                <!-- <div id="conteudo_aside"> -->

                    {% block aside %} 
                    Tao
                    {% endblock aside %} 
                    
                <!-- </div> --> 
            <!-- </aside -->
        <!-- </div> -->
    <!-- </body> -->
<!-- </html> -->